


<br>
<div class="container">
<p><%= email.body %></p>
</div>
<br>
<div style ="text-align: center">
<a href="<%= email_path(email.id)%>" data-method="DELETE" data-remote="true" class="btn btn-outline-danger">Supprimer</a>
<a href="#" class="btn btn-outline-info">Marquer comme non lu</a>
</div>


