



<div class="container">
    <h4 id="show-object<%=@email.id %>"><%= @email.object  %></h4>
    <p id="show-body<%=@email.id %>">
    <%= @email.body  %>
    <br>
    <a href="#" class="btn btn-outline-secondary">Supprimer</a>
    <a href="#" class="btn btn-outline-secondary">Marquer comme lu</a>
    </p>
</div>